/*position*/
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}


.space-between {
    justify-content: space-between;
}
.txt-center{
    text-align: center;
}

.section {
    margin: 100px auto 50px auto;
}